body {
  font-family: Arial, sans-serif;
}

.navbar {
  background: #0D8E4F;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
}

.nav-link {
  color: #fff !important;
  font-weight: 500;
  transition: color 0.3s;
  cursor: pointer;
}

.navbar-nav .nav-item {
  margin-right: 20px;
  /* Điều chỉnh khoảng cách giữa các menu item */
}

.text-secondary {
  color: var(--bd-secondary) !important;
}

.bd-section-subtitle {
  color: var(--bd-primary);
  font-size: 16px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.bd-section-title {
  font-weight: var(--bd-fw-sbold);
  font-family: var(--bd-ff-title);
}

.navbar-nav .dropdown-menu {
  margin-top: 8px;
  /* Điều chỉnh khoảng cách giữa dropdown menu và item */
}

.nav-link:hover {
  color: #f8d210 !important;
  text-decoration: none;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.nav-item.dropdown:hover .nav-link i {
  transform: rotate(180deg);
  transition: transform 0.3s;
}


/* Định dạng chung cho dropdown */
.dropdown-menu {
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border: none;
  min-width: 200px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

/* Khi hover vào dropdown, hiển thị menu */
.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Định dạng cho từng mục con trong dropdown */
.dropdown-menu .dropdown-item {
  font-size: 16px;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
}

/* Khi hover vào mục con */
.dropdown-menu .dropdown-item:hover {
  background: #0D8E4F;
  color: white;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown i {
  transition: transform 0.3s;
}

.dropdown.active i {
  transform: rotate(180deg);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -280px;
  width: 280px;
  height: 100%;
  background-color: #222;

  transition: 0.4s ease-in-out;
  z-index: 1050;
}

.sidebar.active {
  left: 0;
}

.sidebar a {
  padding: 12px 20px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #444;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1049;
}

.overlay.active {
  display: block;
}

.submenu {
  display: none;
  padding-left: 20px;
}

.sidebar a.toggle {
  cursor: pointer;
}



.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-position: center;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: rgb(255, 255, 255) !important;
}

@media (min-width: 1200px) {
  .swiper {
    width: 100%;
    height: 700px;
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .swiper {
    width: 100%;
    height: 600px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .swiper {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 575.98px) {
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 28px !important;
  }
}

.bd-live-class-shape-01 {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 60px;
}

.bd-live-class-shape-02 {
  position: absolute;
  max-width: 60px;
  left: 40%;
  bottom: 22%;
}

.bd-live-class-shape-03 {
  position: absolute;
  max-width: 40px;
  right: 10%;
  top: 30px;
}

.section-space {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .section-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .section-space {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

.bd-live-class-thumb-wrapper.style-one .bd-live-class-thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px dashed #06A16A;
  right: -30px;
  bottom: -30px;
  border-radius: 6px;
  z-index: -1;
}

.bd-live-class-thumb-wrapper.style-one .bd-live-class-thumb {
  margin: 0 30px 30px 50px;
  max-width: 450px;
  position: relative;
  z-index: 3;
}

.bd-live-class-thumb-wrapper.style-one .bd-live-class-thumb img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
}

.art-shape {
  max-width: 100%;
  object-fit: cover;
}

.bd-section-title {
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.bd-section-subtitle {
  color: #06A16A;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .bd-live-class-thumb-wrapper.style-one .bd-live-class-thumb {
    max-width: 100%;
    margin-left: 0;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px),
only screen and (min-width: 768px) and (max-width: 991px),
only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .bd-event-shape .shape-2 {
    display: none;
  }

  .bd-event-shape .shape-3 {
    display: none;
  }
}


.g-30,
.gy-30 {
  --bs-gutter-y: 30px;
}

.g-30,
.gx-30 {
  --bs-gutter-x: 30px;
}

.bd-event-shape .shape-2 img {
  width: 120px;
}

.bd-event-shape .shape-3 img {
  width: 120px;
}

.bd-event-shape .shape-3 {
  position: absolute;
  right: 210px;
  bottom: 70px;
  animation: KidsBounceTwo 3s linear 1s infinite alternate backwards;
}

.bd-event-shape .shape-2 {
  position: absolute;
  left: 80px;
  bottom: 50px;
  animation: KidsBounce 2s linear 1s infinite alternate both;
}

.bd-event-shape .shape-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.p-relative {
  position: relative;
}

@keyframes KidsBounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-25px);
  }
}

/* KidsBounceTwo */
@keyframes KidsBounceTwo {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-35px);
  }
}

.bd-event-wrapper.style-three .bd-event-item {
  display: grid;
  align-items: center;
  grid-template-columns: 180px auto;
  gap: 30px;
  background: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  padding: 20px 40px 20px 20px;
  border-radius: 6px;
  transition: all 0.4s ease;
  z-index: 2;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .bd-event-wrapper.style-three .bd-event-item {
    grid-template-columns: 220px auto;
    padding: 20px 20px 20px 20px;
  }
}



@media (max-width: 450px) {
  .bd-event-wrapper.style-three .bd-event-item {
    grid-template-columns: auto;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px),
(max-width: 575px) {
  .bd-event-wrapper.style-three .bd-event-item {
    align-items: start;
    padding: 20px 20px 20px 20px;
  }
}